.nav__item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    /* Vous pouvez ajuster la police comme vous le souhaitez */
    position: relative;
    /* Position relative pour le pseudo-élément */
    transition: color 0.3s;
    /* Animation de couleur au survol */
}

.nav__item::after {
    content: '';
    /* Le contenu est vide, car nous créons une ligne */
    position: absolute;
    /* Position absolue pour le pseudo-élément */
    left: 0;
    /* Début de la ligne */
    bottom: -8px;
    /* Distance de la ligne par rapport au texte */
    width: 100%;
    /* La ligne s'étend sur toute la largeur du lien */
    height: 2px;
    /* Épaisseur de la ligne */
    background-color: blue;
    /* Couleur de la ligne (vous pouvez la personnaliser) */
    transform: scaleX(0);
    /* Échelle horizontale initiale pour cacher la ligne */
    transition: transform 0.3s;
    /* Animation de l'échelle au survol */
}

.nav__item:hover {
    color: blue;
    /* Couleur du texte au survol */
}

.nav__item:hover::after {
    transform: scaleX(1);
    /* Échelle horizontale pour afficher la ligne au survol */
}